<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='todo.css') }}">
</head>
<body>
    <div class="container">
        <h1>To-Do List</h1>
        <ul>
            {% for todo in todos %}
            <li>
                <input type="checkbox" name="done" {% if todo['done'] %} checked {% endif %} disabled onchange="this.form.submit()">
                <span {% if todo['done'] %} class="task-done" {% endif %}> {{ todo['task'] }}</span>
                <div class="actions">
                    <a href="{{ url_for('check', index=loop.index0) }}">Check</a>
                    <a href="{{ url_for('edit', index=loop.index0) }}">Edit</a>
                    <a href="{{ url_for('delete', index=loop.index0) }}">Delete</a>
                </div>
            </li>
            {% endfor %}
        </ul>
        <form class="add-form" action="{{ url_for('add') }}" method="POST">
            <input type="text" name="todo" placeholder="Add new task">
            <button type="submit">Add Task</button>
        </form>
    </div>
</body>
</html>
